.App {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: auto;
}


/* for responsive Website */
@media screen and (max-width: 850px) {
  .App {
    width: 90vw !important;
  }
  .credit-Text{
    text-align: center;
    white-space: pre-line;
  }
  /* for changing slider height */
  .css-p0xady {
    height: 150px !important;
  }
}

@media screen and (max-width: 650px) {
  .sliderLabels{
    margin: 0 !important;
  }
  .credit-Text{
    transform: rotate(-90deg);
    /* direction: rtl; */
    white-space: nowrap;
    margin-top: 55px !important;
  }
}
